<!DOCTYPE html>
<html lang="zh-CN">
    <div th:fragment="common_js(scripts)">
        <!--[if lt IE 9]>
        <script type="text/javascript" src="../../static/js/plugins/html5shiv/3.7.3/html5shiv.js"
                th:src="@{/static/js/plugins/html5shiv/3.7.3/html5shiv.js}"></script>
        <script type="text/javascript" src="../../static/js/plugins/respond/1.4.2/respond.js"
                th:src="@{/static/js/plugins/respond/1.4.2/respond.js}"></script>
        <![endif]-->
        <!-- jQuery -->
        <script src="../../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
        <!-- FastClick -->
        <script src="../../static/js/plugins/fastclick/fastclick.js" th:src="@{/static/js/plugins/fastclick/fastclick.js}"></script>
        <script src="../../static/js/plugins/pace/1.0.2/pace.js" th:src="@{/static/js/plugins/pace/1.0.2/pace.js}"></script>
        <!-- jQuery custom content scroller -->
        <script src="../../static/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/static/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
        <!-- Custom Theme Scripts -->
        <script src="../../static/js/custom.min.js" th:src="@{/static/js/custom.min.js}"></script>
        <!-- sweatalert -->
        <script src="../../static/js/plugins/sweetalert2/7.20.4/sweetalert2.all.js" th:src="@{/static/js/plugins/sweetalert2/7.20.4/sweetalert2.all.js}"></script>
        <!-- bootstrap select -->
        <script src="../../static/js/plugins/bootstrap-select/1.12.4/bootstrap-select.min.js" th:src="@{/static/js/plugins/bootstrap-select/1.12.4/bootstrap-select.min.js}"></script>
        <script src="../../static/js/plugins/bootstrap-select/1.12.4/i18n/defaults-zh_CN.min.js" th:src="@{/static/js/plugins/bootstrap-select/1.12.4/i18n/defaults-zh_CN.min.js}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../../static/js/plugins/moment/min/moment.min.js" th:src="@{/static/js/plugins/moment/min/moment.min.js}"></script>
        <script src="../../static/js/plugins/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/static/js/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
        <!-- layer-->
        <script src="../../static/js/plugins/layer/v3.1.1/layer.js" th:src="@{/static/js/plugins/layer/v3.1.1/layer.js}"></script>
        <script src="../../static/js/plugins/metismenu/metisMenu.js" th:src="@{/static/js/plugins/metismenu/metisMenu.js}"></script>
        <script src="../../static/js/layoutmenu.js" th:src="@{/static/js/layoutmenu.js}"></script>
        <!--/* Per-page placeholder for additional links */-->
        <th:block th:replace="${scripts}" />

    </div>
</html>