<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/htmlHead :: common_header(~{::title},~{::link})">
    <title>UMPS</title>
    <!-- bootstrap table -->
    <link href="../../static/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" />
</head>

<body class="nav-md  footer_fixed">
<div class="container body">
    <div class="main_container">
        <div th:fragment="navbar"  class="wrapper wrapper-content animated zoomInUp"  role="navigation">
            <div th:replace="fragments/sidebar1 :: sidebar1">sidebar</div>
            <div th:replace="fragments/top_nav :: top_nav">top_nav</div>
            <!--<div layout:fragment="content" id="jdcontent" ></div>-->
            <!--start  iframe 内容切换-->
            <div layout:fragment="content" id="jdcontent">

            </div>
            <!--end iframe 内容切换-->
            <div th:replace="fragments/footer :: footer">footer</div>
        </div>
    </div>
</div>
<!--使用公有js-->
<div th:replace="common/htmlJS::common_js(~{::script})">
    <!--每个页面自己的js-->
    <script type="text/javascript">
        var jumpUrl = '/home';
        $('a').each(function () {
            if ($(this).attr('data-url') === jumpUrl) {
                $(this).parent().addClass('active');
                $(this).addClass('active');
                $(this).focus();
            } else {
                $(this).removeClass('active');
            }

            if (jumpUrl != "") {
                $("#J_iframe").attr('src', jumpUrl + '?' + new Date().getTime());
            }
        });
    </script>
</div>

</body>
</html>
