<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/htmlHead :: common_header(~{::title},~{::link})">
    <title>ResourceGrant</title>
    <!-- bootstrap table -->
    <link href="../../static/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" />
    <link href="../../static/css/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" th:href="@{/static/css/plugins/bootstrap-multiselect/bootstrap-multiselect.css}" />
</head>

<body class="nav-md gray-bg">
<div class="container body">
    <div class="main_container">
        <div th:fragment="navbar"  class="wrapper wrapper-content animated zoomInUp"  role="navigation">
            <div layout:fragment="content" id="ifcontent" class="wrapper wrapper-content animated zoomInUp"></div>
        </div>
    </div>
</div>
<!--使用公有js-->
<div th:replace="common/htmlJS::common_js(~{::script})">
    <!--每个页面自己的js-->
    <!-- bootstrap table -->
    <script src="../../static/js/plugins/bootstrap-table/bootstrap-table.min.js" th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script src="../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script src="../../static/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js" th:src="@{/static/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js}"></script>
    <script src="../../static/js/resempower.js" th:src="@{/static/js/resempower.js}"></script>
</div>

</body>
</html>
