<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.flow.dao.mapper.AccountMapper" >
  <resultMap id="BaseResultMap" type="org.flow.entity.Account" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.flow.entity.Account" >
    insert into account (username, password,
      enabled
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{enabled,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.flow.entity.Account" >
    update account
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateEnabledByPrimaryKey" parameterType="org.flow.entity.Account" >
    update account
    set enabled = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateDisabledByPrimaryKey" parameterType="org.flow.entity.Account" >
    update account
    set enabled = 2
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, username, password, enabled, create_time, update_time
    from account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, username, password, enabled, create_time, update_time
    from account
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, enabled, create_time, update_time
    from account
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(id)
    from account
  </select>
  <select id="selectByPager" resultMap="BaseResultMap">
    SELECT t1.id, t1.username, t1.password, t1.enabled, t1.create_time, t1.update_time FROM account AS t1
    JOIN
    ( SELECT id FROM account where 1=1
    <if test="username != null and username !=''" >
      and username = #{username}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order} LIMIT #{offSet} , #{pageSize}) AS t2
    WHERE t1.id = t2.id
    <if test="username != null and username !=''" >
      and username = #{username}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order}  LIMIT #{pageSize}
  </select>
  <select id="selectByWhereCount" resultType="java.lang.Integer">
    select count(id)
    from account
    where 1=1
    <if test="username != null and username !=''" >
      and username = #{username}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    ORDER BY #{ordername} #{order}
  </select>
</mapper>