<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.flow.dao.mapper.AccountRoleRelationshipMapper" >
  <resultMap id="BaseResultMap" type="org.flow.entity.AccountRoleRelationship" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account_role_relationship
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.flow.entity.AccountRoleRelationship" >
    insert into account_role_relationship (id, account_id, role_id, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.flow.entity.AccountRoleRelationship" >
    update account_role_relationship
    set account_id = #{accountId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, account_id, role_id, create_time, update_time
    from account_role_relationship
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, account_id, role_id, create_time, update_time
    from account_role_relationship
  </select>
</mapper>