<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.flow.dao.mapper.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="org.flow.pojo.Privilege" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from privilege
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.flow.pojo.Privilege" >
    insert into privilege (id, name, description, 
      enabled)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.flow.pojo.Privilege" >
    update privilege
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, description, enabled, create_time, update_time
    from privilege
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, description, enabled, create_time, update_time
    from privilege
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(id)
    from privilege
  </select>
  <select id="selectByWhereCount" resultType="java.lang.Integer">
    select count(id)
    from privilege
    where 1=1
    <if test="privilegename != null and privilegename !=''" >
      and name = #{privilegename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    ORDER BY #{ordername} #{order}
  </select>
  <select id="selectByPager" resultMap="BaseResultMap">
    SELECT t1.id, name, description, enabled, create_time, update_time FROM privilege AS t1
    JOIN
    ( SELECT id FROM privilege where 1=1
    <if test="privilegename != null and privilegename !=''" >
      and name = #{privilegename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order} LIMIT #{offSet} , #{pageSize}) AS t2
    WHERE t1.id = t2.id
    <if test="privilegename != null and privilegename !=''" >
      and name = #{privilegename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order}  LIMIT #{pageSize}
  </select>
</mapper>