<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.flow.dao.mapper.PrivilegeResourceRelationshipMapper" >
  <resultMap id="BaseResultMap" type="org.flow.pojo.PrivilegeResourceRelationship" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="privilege_id" property="privilegeId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from privilege_resource_relationship
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.flow.pojo.PrivilegeResourceRelationship" >
    insert into privilege_resource_relationship (id, privilege_id, resource_id, 
      enabled, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{privilegeId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, 
      #{enabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.flow.pojo.PrivilegeResourceRelationship" >
    update privilege_resource_relationship
    set privilege_id = #{privilegeId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      enabled = #{enabled,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, privilege_id, resource_id, enabled, create_time, update_time
    from privilege_resource_relationship
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, privilege_id, resource_id, enabled, create_time, update_time
    from privilege_resource_relationship
  </select>
  <select id="selectRelPager" parameterType="Map" resultType="org.flow.vo.PriRes" >
    SELECT
    a.id,
    a.privilege_id as privilegeId,
    b.name as privilegename,
    a.resource_id as resourceId,
    c.name as resourcename,
    a.enabled,
    a.create_time as createTime,
    a.update_time as updateTime
FROM
    (SELECT
        t1.id,
            privilege_id,
            resource_id,
            enabled,
            create_time,
            update_time
    FROM
        privilege_resource_relationship t1
    JOIN (SELECT
        id
    FROM
        privilege_resource_relationship
    WHERE
        1 = 1
    <if test="params.privilegeid !=null and params.privilegeid!=''">
      and privilege_id=#{params.privilegeid}
    </if>
    <if test="params.resourceid !=null and params.resourceid!=''">
      and resource_id=#{params.resourceid}
    </if>
    <if test="params.ordername!=null and params.ordername!=''">
      order by ${params.ordername}
    </if>
    ${params.order}
    <if test="params.privilegename ==null or params.privilegename =='' or params.resourcename ==null or params.resourcename ==''">
      LIMIT ${params.offset},${params.pageSize}
    </if>
        ) t2
    WHERE
        t1.id = t2.id
    <if test="params.privilegeid !=null and params.privilegeid!=''">
      and privilege_id=#{params.privilegeid}
    </if>
    <if test="params.resourceid !=null and params.resourceid!=''">
      and resource_id=#{params.resourceid}
    </if>
    <if test="params.ordername!=null and params.ordername!=''">
      order by ${params.ordername}
    </if>
    <if test="params.privilegename ==null or params.privilegename =='' or params.resourcename ==null or params.resourcename ==''">
      ${params.order} LIMIT ${params.pageSize}
    </if>
    ) a,
    privilege b,
    resource c
    WHERE
    a.privilege_id = b.id
    AND a.resource_id = c.resource_id
  </select>
    <select id="selectByWhereCount" resultType="java.lang.Integer" >
        SELECT
        count(*)
        FROM
        (SELECT
        t1.id,
        privilege_id,
        resource_id,
        enabled,
        create_time,
        update_time
        from
        privilege_resource_relationship t1
        JOIN (SELECT
        id
        FROM
        privilege_resource_relationship
        WHERE
        1 = 1
        <if test="params.privilegeid !=null and params.privilegeid!=''">
            and privilege_id=#{params.privilegeid}
        </if>
        <if test="params.resourceid !=null and params.resourceid!=''">
            and resource_id=#{params.resourceid}
        </if>
        <if test="params.ordername!=null and params.ordername!=''">
            order by ${params.ordername}
        </if>
        ${params.order}
        ) t2
        WHERE
        t1.id = t2.id
        <if test="params.privilegeid !=null and params.privilegeid!=''">
            and privilege_id=#{params.privilegeid}
        </if>
        <if test="params.resourceid !=null and params.resourceid!=''">
            and resource_id=#{params.resourceid}
        </if>
        <if test="params.ordername!=null and params.ordername!=''">
            order by ${params.ordername}
        </if>
        ${params.order}
        ) a,
        privilege b,
        resource c
        WHERE
        a.privilege_id = b.id
        AND a.resource_id = c.resource_id
        <if test="params.privilegename !=null and params.privilegename!=''">
            and b.name=#{params.privilegename}
        </if>
        <if test="params.resourcename !=null and params.resourcename!=''">
            and c.name=#{params.resourcename}
        </if>
    </select>
</mapper>