<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.flow.dao.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="org.flow.pojo.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.flow.pojo.Role" >
    insert into role (id, name, description, enabled
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.flow.pojo.Role" >
    update role
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, description, enabled, create_time, update_time
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByRelAccountId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select t2.id,name,description,t2.create_time,t2.update_time
    from account_role_relationship t1,role t2
    where t1.role_id =t2.id
    and account_id=#{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, description, enabled, create_time, update_time
    from role
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(id)
    from role
  </select>
  <select id="selectByRoleIds" resultMap="BaseResultMap" >
    select id, name, description, enabled, create_time, update_time
    from role
    where 1=1 and id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <select id="selectByPager" resultMap="BaseResultMap">
    SELECT t1.id, t1.name, t1.description, t1.enabled, t1.create_time, t1.update_time FROM role AS t1
    JOIN
    ( SELECT id FROM role where 1=1
    <if test="rolename != null and rolename !=''" >
      and name = #{rolename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order} LIMIT #{offSet} , #{pageSize}) AS t2
    WHERE t1.id = t2.id
    <if test="rolename != null and rolename !=''" >
      and name = #{rolename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    <choose>
      <when test="ordername=='createTime'">
        ORDER BY create_time
      </when>
      <when test="ordername=='updateTime'">
        ORDER BY update_time
      </when>
      <otherwise>
        ORDER BY ${ordername}
      </otherwise>
    </choose>
    ${order}  LIMIT #{pageSize}
  </select>
  <select id="selectByWhereCount" resultType="java.lang.Integer">
    select count(id)
    from role
    where 1=1
    <if test="rolename != null and rolename !=''" >
      and name = #{rolename}
    </if>
    <if test="enabled != -1">
      and enabled = #{enabled}
    </if>
    ORDER BY #{ordername} #{order}
  </select>
</mapper>